{% extends 'encyclopedia/layout.html' %}

{% block title %}
    Search
{% endblock %}

{% block body %}

    <h3>Search Results for: {{ title }}</h3> 
    <hr>
    <p>Here the available articles for the search:</p>

    <ul>
        {% for title in entries %}
            <li><a href="{% url 'enc:page' title=title %}">{{ title }}</a></li>
        {% endfor %}
    </ul>
        

    <!-- {% if title in entries %}  
        {{title}}
    {% else %}
        <h2>{{message}}</h2>
        <p>Here the available articles for the search:</p>
        {% for title in entries %}
            <li><a href="{% url 'enc:index' title=title %}">{{title}}</a></li>
        {% endfor %}
    {% endif %} -->

{% endblock %}